<nav class="navbar navbar-lsnj navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../../assets/images/lsnjhd.jpg" />
      </a>
    </div>
    <ul class="nav nav-pills navbar-nav navbar-left">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="tickets">Tickets</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="reports">Reports</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="settings">Settings</a>
      </li>
    </ul>
    <ul class="nav nav-pills navbar-nav navbar-right">
      <li class="nav-item">
        <a href="mailto:reodice@lsnj.org" class="btn btn-flat btn-danger helpbutton"
          >Help!</a
        >
      </li>
    </ul>
  </div>
</nav>
