.card-header {
    background-color: #01579b;
}

.btn-link {
    color: white;
    width: 100%;
}

h5 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.card-body {
    background-color: rgb(71, 109, 146);
}

.pagecontent {
    padding-left: 10px;
    padding-right: 10px;
}

.summary {
    white-space: normal;
}

.details {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.yellow {
    color: yellow !important;
}
